<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pancm.dao.SysPermissionDao">

    <resultMap type="com.pancm.vo.SysPermissionVO" id="SysPermissionMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="permissionCode" column="permission_code" jdbcType="VARCHAR"/>
        <result property="permissionName" column="permission_name" jdbcType="VARCHAR"/>
        <result property="permissionRoute" column="permission_route" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="creatorUser" column="creator_user" jdbcType="VARCHAR"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="modifierUser" column="modifier_user" jdbcType="VARCHAR"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SysPermissionMap">
        select
idparent_idpermission_codepermission_namepermission_routecreate_timecreator_usermodify_timemodifier_userdeleted
        from sys_permission
        where id = #{id}
    </select>
    
     <!--通过实体查询一条数据-->
    <select id="findOne" resultMap="SysPermissionMap">
        select
idparent_idpermission_codepermission_namepermission_routecreate_timecreator_usermodify_timemodifier_userdeleted        from sys_permission
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="permissionCode != null and permissionCode != ''">
                and permission_code = #{permissionCode}
            </if>
            <if test="permissionName != null and permissionName != ''">
                and permission_name = #{permissionName}
            </if>
            <if test="permissionRoute != null and permissionRoute != ''">
                and permission_route = #{permissionRoute}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="creatorUser != null and creatorUser != ''">
                and creator_user = #{creatorUser}
            </if>
            <if test="modifyTime != null">
                and modify_time = #{modifyTime}
            </if>
            <if test="modifierUser != null and modifierUser != ''">
                and modifier_user = #{modifierUser}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
        </where>
        limit 1
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="SysPermissionMap">
        select
idparent_idpermission_codepermission_namepermission_routecreate_timecreator_usermodify_timemodifier_userdeleted
        from sys_permission
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId}
            </if>
            <if test="permissionCode != null and permissionCode != ''">
                and permission_code = #{permissionCode}
            </if>
            <if test="permissionName != null and permissionName != ''">
                and permission_name = #{permissionName}
            </if>
            <if test="permissionRoute != null and permissionRoute != ''">
                and permission_route = #{permissionRoute}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="creatorUser != null and creatorUser != ''">
                and creator_user = #{creatorUser}
            </if>
            <if test="modifyTime != null">
                and modify_time = #{modifyTime}
            </if>
            <if test="modifierUser != null and modifierUser != ''">
                and modifier_user = #{modifierUser}
            </if>
            <if test="deleted != null">
                and deleted = #{deleted}
            </if>
        </where>
    </select>

    <select id="queryRolePermissionByRoleId" resultType="com.pancm.vo.SysPermissionVO"
            parameterType="java.lang.Integer">
        SELECT
            s2.id,
            s2.parent_id,
            s2.permission_code,
            s2.permission_name,
            s2.permission_route
        from
            sys_user_role_permission s1
                LEFT JOIN sys_permission s2 on s1.permission_id = s2.id and s2.deleted = 0
        WHERE s1.deleted = 0
          and s1.role_id = #{roleId}
        ORDER BY s2.id asc

    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into sys_permission(parent_id, permission_code, permission_name, permission_route, create_time, creator_user, modify_time, modifier_user, deleted)
        values (#{parentId}, #{permissionCode}, #{permissionName}, #{permissionRoute}, #{createTime}, #{creatorUser}, #{modifyTime}, #{modifierUser}, #{deleted})
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_permission(parent_id, permission_code, permission_name, permission_route, create_time, creator_user, modify_time, modifier_user, deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
        (#{entity.parentId}, #{entity.permissionCode}, #{entity.permissionName}, #{entity.permissionRoute}, #{entity.createTime}, #{entity.creatorUser}, #{entity.modifyTime}, #{entity.modifierUser}, #{entity.deleted})
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into sys_permission(parent_id, permission_code, permission_name, permission_route, create_time, creator_user, modify_time, modifier_user, deleted)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.parentId}, #{entity.permissionCode}, #{entity.permissionName}, #{entity.permissionRoute}, #{entity.createTime}, #{entity.creatorUser}, #{entity.modifyTime}, #{entity.modifierUser}, #{entity.deleted})
        </foreach>
        on duplicate key update
parent_id = values(parent_id) , permission_code = values(permission_code) , permission_name = values(permission_name) , permission_route = values(permission_route) , create_time = values(create_time) , creator_user = values(creator_user) , modify_time = values(modify_time) , modifier_user = values(modifier_user) , deleted = values(deleted)     </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update sys_permission
        <set>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="permissionCode != null and permissionCode != ''">
                permission_code = #{permissionCode},
            </if>
            <if test="permissionName != null and permissionName != ''">
                permission_name = #{permissionName},
            </if>
            <if test="permissionRoute != null and permissionRoute != ''">
                permission_route = #{permissionRoute},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="creatorUser != null and creatorUser != ''">
                creator_user = #{creatorUser},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
            <if test="modifierUser != null and modifierUser != ''">
                modifier_user = #{modifierUser},
            </if>
            <if test="deleted != null">
                deleted = #{deleted},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from sys_permission where id = #{id}
    </delete>

</mapper>

