<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pancm.dao.UserDao">
	<resultMap id="BaseResultMap" type="com.pancm.pojo.User">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="age" property="age" />
	</resultMap>

	<parameterMap id="User" type="com.pancm.pojo.User"/>

	<sql id="Base_Column_List">
		id, name, age
	</sql>
	
	<select id="findUserByName" resultMap="BaseResultMap" parameterType="User">
		select
		<include refid="Base_Column_List" />
		from t_user 
		where name = #{name}
	</select>
	
	
	<select id="find" resultMap="BaseResultMap" parameterType="User">
		select
		<include refid="Base_Column_List" />
		from t_user 
		where 1=1
		<if test="id!=0">
			and id = #{id}
		</if>
		<if test="name!=null">
			and name = #{name}
		</if>
		<if test="age!=0">
			and age = #{age}
		</if>
	</select>
	
	
	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_user
	</select>


	<insert id="addUser" parameterMap="User" useGeneratedKeys="true" keyProperty="id">
		insert into
		t_user(<include refid="Base_Column_List" />)
		values
		(#{id},#{name},#{age})
	</insert>

	
	

	<update id="updateUser" parameterMap="User">
		update
		t_user
		set
		<if test="name!=null">
			name = #{name},
		</if>
		<if test="age!=null">
			age = #{age},
		</if>
		where
		id = #{id}
	</update>

	<delete id="deleteUser" parameterType="java.lang.Integer">
		delete from
		t_user
		where
		id = #{id}
	</delete>
	

</mapper>
