<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pancm.bean.dao.UserDao">
	<resultMap id="BaseResultMap" type="com.pancm.bean.User">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="age" property="age" />
	</resultMap>

	<parameterMap id="User" type="com.pancm.bean.User"/>

	<sql id="Base_Column_List">
		id, name, age
	</sql>

	<select id="findByName" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_user
		where city_name = #{cityName}
	</select>


		<select id="findAllCity" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from city
	</select>

	<insert id="saveCity" parameterMap="City" useGeneratedKeys="true" keyProperty="id">
		insert into
			city(id,province_id,city_name,description)
		values
			(#{id},#{provinceId},#{cityName},#{description})
	</insert>

	<update id="updateCity" parameterMap="City">
		update
			city
		set
		<if test="provinceId!=null">
			province_id = #{provinceId},
		</if>
		<if test="cityName!=null">
			city_name = #{cityName},
		</if>
		<if test="description!=null">
			description = #{description}
		</if>
		where
			id = #{id}
	</update>

	<delete id="deleteCity" parameterType="java.lang.Long">
		delete from
			city
		where
			id = #{id}
	</delete>

</mapper>